<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <h2>CATEGORIES LIST</h2>

  <table border="1">
    <tr>
      <th>ID:</th>
      <th>Category:</th>
      <th>Thumb:</th>
      <th>Description:</th>
    </tr>

    <tr *ngFor="let category of catData">
      <td>{{category.idCategory}}</td>
      <td>{{category.strCategory}}</td>
      <td> <img [src]="category.strCategoryThumb" alt=""></td>
      <td>{{category.strCategoryDescription}}</td>
    </tr>
  </table>


</body>
</html>